.navbar-nav>li>a{
    padding-top: 25px;padding-bottom: 25px
}
.container .navbar-form{
    padding-top:10px
}
.navbar-brand,.navbar{
    background:url(../images/topbar.png) no-repeat 0 9999px;
}
.navbar-brand {

    width: 157px;
    height: 33px;
    padding: 0;
    background-position: 0 15px;
    text-indent: -9999px;
}
.navbar{
    background-position: 0 -80px;
    background-repeat: repeat-x;
}